<!DOCTYPE html>
<html lang="en">
<head>
  <title>Motiv' login</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/styles/signin.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
  <div class="logo"><img src="../static/styles/logomotiv.png" alt="logomotiv"></div>
  <div class="main-block">
    <h1>Happy to see you again !</h1>{% with messages = get_flashed_messages() %} {% if messages %}
    <div class="notification_flash">
      {{ messages[0] }}
    </div>{% endif %} {% endwith %}
    <form method="post" action="/motiv_login">
      <hr>
      <label id="icon" for="name"></label> <input type="text" name="username" id="username" placeholder="Username"> <label id="icon" for="name"></label> <input type="password" name="password" id="password" placeholder="Password">
      <div class="btn-block">
        <a href="http://0.0.0.0:5000/motiv_profile"><button type="submit" class="submit">Submit</button></a>
      </div><a href="http://0.0.0.0:5000/motiv_signup">
      <div class="haveaccount">
        I don't have an account
      </div></a>
    </form>
  </div>
</body>
</html>