@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');

.containers {
	box-shadow: 0 15px 30px 1px grey;
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 15px;
	overflow: hidden;
	margin: 5em auto;
	height: 350px;
	width: 800px;
  
	
}



.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 40%;

}

.containers .product-details h1{
	display: inline-block;
	position: relative;
	font-size: 30px;
	color: #344055;
	margin: 0;
	
}

.containers .product-details h2{
	position: relative;
	font-size: 20px;
	color: #344055;
	margin-top: 15px;
	margin-left: auto;
	
}

.containers .product-details h1:before{
	position: absolute;
	right: 0%; 
	top: 0%;
	transform: translate(25px, -15px);
	display: inline-block;
	background: #ffe6e6;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: white;
	margin: 0;
	animation: chan-sh 6s ease infinite;

}



.containers .product-details > p {
	text-align: center;
	font-size: 18px;
	color: #7d7d7d;
	
}

.containers .product-details > h2 {
	margin-bottom: 10px;
	
}
.bio {
	color: #7d7d7d;
	max-height: 200px;
	overflow-y: scroll;
	width: auto;
	word-wrap: break-word;
}

.bio::-webkit-scrollbar{
    width: 0px;
}
.control{
	position: absolute;
	bottom: 20%;
	left: 22.8%;
	
}
.btn {

	transform: translateY(0px);
	transition: 0.3s linear;
	background:  #809fff;
	border-radius: 5px;
  position: relative;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 0;
	margin: 0;
	
}

.btn:hover{transform: translateY(-6px);
	background: #1a66ff;}

.btn span {
	font-family: 'Farsan', cursive;
	transition: transform 0.3s;
	display: inline-block;
  padding: 10px 20px;
	font-size: 1.2em;
	margin:0;
	
}
.btn .price, .shopping-cart{
	background: #333;
	border: 0;
	margin: 0;
}

.btn .price {
	transform: translateX(-10%); padding-right: 15px;
}

.btn .shopping-cart {
	transform: translateX(-100%);
  position: absolute;
	background: #333;
	z-index: 1;
  left: 0;
  top: 0;
}

.btn .buy {z-index: 3; font-weight: bolder;}

.btn:hover .price {transform: translateX(-110%);}

.btn:hover .shopping-cart {transform: translateX(0%);}



.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	width: 45%;
	display: inline-block;
}

.containers img {width: 100%;height: 100%;}

.info {
    background: rgba(214, 102, 22, 0.9);
    font-family: 'Bree Serif', serif;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.8;
    text-align: left;
    font-size: 105%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.info h2 {text-align: center}
.product-image:hover .info{transform: translateX(0);}

.info ul li {
	transition: 0.3s ease;
	max-width: 200px;
	word-wrap: break-word;
	overflow-y: scroll;
	max-height: 90px;
	margin-bottom: 25px;
}

.info ul {
	margin-top: 40px;
}

.info ul li::-webkit-scrollbar{
    width: 0px;
}
.info ul li:hover{transform: translateX(10px) scale(1);}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}

@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

span{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
span a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  
}
span a:before,
span a:after{
  position: absolute;
  content: "Show user's infos";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgb(212, 70, 18);
  box-sizing: border-box;
  border-radius: 10px;
}
span a:before{
  color: rgb(214, 102, 22);
  background: rgb(255, 255, 255);
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: rgb(255, 255, 255);
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}
