body {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
}

.filters {
    height: 70px;
    border-radius: 15px;
    background: rgb(231,88,45);
    background: linear-gradient(135deg, rgba(231,88,45,1) 17%, rgba(237,114,20,1) 96%, rgba(255,166,0,1) 100%);
    display: flex;  
    align-items: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.filters button {
    margin: auto;
    width: 20%;
    font-size: 18px;
    background-color: #f9b98c;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 10px 10px -10px;
    margin-right: 10px;
    box-sizing: border-box;
}

.filters button:hover {
    background-color: #f69b5a;
    transform: translate(-2px, 2px);
}

.location, .sport {
    height: 100%;
    width: 50%;
}

h2 {
    margin: 0px 0px 0px -20px;
}


.location h3, .sport h3{
    font-size: 20px;
    font-weight: 600;
    margin: 20px 40px 0px;
    color: #FAFAFA;
    text-align: left;
}

.location h4, .sport h4 {
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    margin: 0px 40px;
    color: #DDDDDD;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

ul {
    list-style: none;
    padding-left: 0px;
}

.popover ul {
    padding-left: 0px;
}

li {
    margin-top: 5px;
}

li h2 {

    font-size: 20px;
    margin-right: 5px;
}

li h4 {
    font-size: 14px;
    margin-right: 5px;
}

.location .popover, .sport .popover {
    z-index: 10;
    position: relative;
    display: none;
    background-color: #FAFAFA;
    border-radius: 15px;
    border: 1px solid #DDDDDD;
    padding: 15px 0px 20px 40px;
    box-shadow: rgb(77, 59, 38) 0px 20px 30px -10px;
    margin-top: 10px;
    animation: fadeIn 0.5s linear forwards;
  }
  
  @keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

.location:hover .popover, .sport:hover .popover {
    display: block;
}

.search {
    width: 30%;
}
.search input{
    margin-left: 15px;
    width: 90%;
    border-radius: 10px;
    border: none;
}